:root{
    --primary-color: #25283D;
    --secondary-color: #5C677D;
    --accent-color: #C03221;
    --primary-text-color: #fff;
    --secondary-text-color: #25283D;
}

* {
    padding: 0;
    margin: 0;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
}

/* -- NAVIGATION SECTION STYLE -- */

nav {
    background-color: var(--primary-color);
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-wrapper {
    width: 100%;
    height: 100%;
    margin: 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo ul {
    list-style: none;
}

.nav-logo ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--accent-color);
    transition: 100ms;
}

.nav-logo ul li a:hover{
    color: var(--primary-text-color);
    transition: 100ms;
}

.nav-links ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 100ms;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 600;
    svg {
        transition: 100ms;
        padding: 0px 10px 0px 0px; 
    }
}

.nav-links ul li a:hover{
    transition: 100ms;
    background-color: var(--accent-color);
    border-radius: 10px;
    svg {
        fill: var(--primary-color);
        transition: 100ms;
        transform: scale(1.3);
    }
}

/* REUSABLE SECTION STYLES */

.section-title {
    width: 100%;
    display: flex;
    svg {
        width: 35px;
        height: 35px;
        margin: 0px 10px;
    }
}

.title-odd .section-title-wrapper{
    justify-content: flex-end;
}

.section-title-wrapper {
    height: 100%;
    width: 100%;
    padding: 0px 200px;
    margin: 84px 0px 10px 0px;
    display: flex;
    align-items: center;
}

.section {
    padding: 0px 200px;
    height: 80vh;
}

.section-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.section-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

button {
    background-color: var(--accent-color);
    color: var(--primary-text-color);
    border: var(--accent-color) 2px solid;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 100ms;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.35);
}

button:hover {
    border: var(--secondary-color) 2px solid;
    background-color: var(--primary-color);
    color: var(--accent-color);
    transition: 100ms;
}

button:active {
    background-color: var(--secondary-color);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.55);
}

 /* Tooltip container */
 .tooltip {
    position: relative;
    display: inline-block; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
 .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 101;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--secondary-color) transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  } 

/* -- SECTION DECORATION -- */

.section-decoration {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        fill: var(--accent-color);
        width: 100%;
        height: 100%;
    }
}

/* -- SECTION 1 STYLES --*/

.section-1 {
    height: 50vh;
    padding-top: 80px;
    position: relative;
}

.section-left-1 {
    padding: 0px 100px;
    flex-direction: column;
}

.section-left-1 h1 {
    padding: 10px 0px;
}

.section-left-1 p {
    padding: 10px 0px 45px 0px;
    font-size: 1.2rem;
    font-weight: 200;
    margin: 0px;
}

.section-left-1 button {
    margin: 60px 0px;
}

.section-right-1 {
    svg {
        width: 70%;
    }
}

/* -- SECTION 2 STYLES --*/

.section-2-title {
    background-color: var(--accent-color);
}

.section-2-title .section-title-wrapper {
    margin-bottom: 40px;
}

.section-2 {
    height: 70vh;
    background-color: var(--accent-color);
}

.section-left-2 {
    flex-direction: column;
    padding: 0px 80px;
}

.section-left-2 img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border: var(--primary-text-color) 10px solid;
    box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.3);
    transition: 100ms;
}

.section-left-2 img:hover {
    box-shadow: 14px 20px 8px 2px rgba(0,0,0,0.3);
    transform: translate(0px, -20px);
    transition: 100ms;
}

.section-left-2 h1 {
    margin: 20px 0px;
}

.section-left-2 p {
    font-size: 20px;
    text-align: center;
}

.section-right-2 {
    flex-direction: column;
}

.section-right-2-top h1{
    border: var(--primary-text-color) 3px solid;
    border-radius: 20px;
    padding: 10px;
    margin: 0px 0px 80px 0px;
}

.section-right-2-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-right-2-grid {
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 70px;
    grid-template-rows: 70px 70px 70px 70px 70px;
    grid-gap: 10px;
    box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.3);
}

.grid-1 {
    margin: 30px 15px 0px 15px;  
}

.grid-2 {
    margin: 0px 15px 30px 15px;
}

.grid-3 {
    margin: 30px 15px 0px 15px;   
}

.grid-4 {
    margin: 0px 15px 30px 15px;  
}

.grid-5 {
    margin: 30px 15px 0px 15px;   
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 100ms;
    svg {
        width: 50px;
        height: 50px;
    }
}

.grid-item:hover{
    transition: 100ms;
    transform: scale(1.6) translateY(-5px);
    background-color: var(--secondary-color);
}

/* -- SECTION 3 STYLES --*/

.section-3-title {
    background-color: var(--accent-color);
}

.section-3 {
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3-card-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tech-container-1 {
    display: grid;
    width: auto;
    height: auto;
    padding: 10px;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px;
    gap: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
}

.section-3-image-container {
    width: 400px;
    height: 400px;
    background-color: var(--primary-color);
}

.section-3-text-container {
    width: 400px;
    height: 400px;
    background-color: var(--primary-text-color);
}

/* -- SECTION 4 STYLES --*/

.section-4 {
    height: auto;
}

.project-section-wrapper {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.project {
    height: 60vh;
    width: 800px;
    background-color: var(--secondary-color);
    margin: 90px 70px;
    border-radius: 20px;
    display: flex;
    -webkit-animation: fadeInLeft 1s both;
    -moz-animation: fadeInLeft 1s both;
    -o-animation: fadeInLeft 1s both;
    animation: fadeInLeft 1s both;
}

/** ANIMATION **/

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0px);
    }
}

@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0px);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/** ANIMATION **/

.project-left  {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px; 
}

.project-left-top  {
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.project-left-top-right ul  {
    list-style: none;
    display: flex;
}

.project-left-top-right ul li {
    svg {
        fill: var(--accent-color);
        height: 40px;
        width: 40px;
        transition: 100ms;  
    }
    margin: 10px;
}

.project-left-top-right ul li:hover {
    svg {
        fill: var(--primary-text-color);
        height: 40px;
        width: 40px;
    }
}

.project-left h1 {
    margin: 30px 0px;
}

.project-left p {
    margin: 30px 0px;
}

.project-right  {
    max-width: 50%;
    background-color: var(--accent-color);
    border-radius: 0px 20px 20px 0px;   
}

/* temp */
.project-carousel-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.carousel-img-container {
    display: flex;
    max-width: 100%;
    position: relative;
    overflow: auto;
    aspect-ratio: 16/9;
    scroll-snap-type-x: mandatory;
    border-radius: 0px 20px 20px 0px;
}

.carousel-img-container img{
    object-fit: cover;
    max-width:  100%;
}

.carousel-img {
    transition: 100ms;
}

.carousel-nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    padding: 0 30px;
}

.carousel-btn-1 {
    padding: 0;
    margin: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        transform: rotate(180deg);
    }
}

.carousel-btn-2 {
    padding: 0;
    margin: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.carousel-indicator-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    margin: 20px 0px;
}

.carousel-indicator-wrapper {
    display: flex;
    padding: 10px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}


.carousel-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-text-color);
    opacity: 0.5;
    margin: 0px 5px;
    cursor: pointer;
}

.indicator-active {
    transform: scale(1.25);
    opacity: 1;
}

/* temp */

.project-tech-card-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 120px;
}

.project-tech-card {
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
    padding: 5px 10px;
    margin: 10px 10px;
    border-radius: 10px;
}

.js {
    background-color: #f0db4f;
    color: #000;
}

.css {
    background-color: #4457ff;
    color: #fff;
}

.html {
    background-color: #ff8912;
    color: #fff;
}
/* -- SECTION 5 STYLES --*/

.section-5 {
    background-color: var(--primary-color);
}

.section-wrapper-5 {
    height: 100%;
    padding: 0px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-left-5 {
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 20px 0px 0px 20px;
    background-color: var(--secondary-color);
    padding: 0px 80px;
    justify-content: center;
    align-items: flex-start;
}

.section-left-5 p{
    font-size: 18px;
    margin: 20px 0px 20px 0px;
}

.section-right-5 {
    height: 70%;
    width: 50%;
    border-radius: 0px 20px 20px 0px;
    background-color: var(--accent-color);
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input {
    color: var(--primary-color);
    padding: 20px;
    width: 85%;
    height: 40px;
    margin: 10px 0px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 200;
}

form textarea {
    color: var(--primary-color);
    width: 85%;
    height: 150px;
    margin: 30px 0px;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 200;
}

form button {
    background-color: var(--secondary-color);
    border: var(--secondary-color) 2px solid;
}
/* -- FOOTER SECTION STYLES -- */

footer {
    width: 100%;
    height: 30vh;
    padding: 0px 200px;
    background-color: var(--secondary-color);
}

.footer-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footer-top {
    height: 10%;
}

.footer-center {
    height: 60%;
    display: flex;
}

.footer-center-left {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-center-left p{
    margin: 10px 0px;
}

.footer-center-left img {
    margin: 5px;
}


.footer-rrss-section {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        padding: 0px 10px;
        width: 50px;
        fill: var(--primary-text-color);
        transition: 100ms;
    }
}

.footer-rrss-section ul {
    list-style: none;
    display: flex;
}

.footer-rrss-section ul li {
    transition: 100ms;
}

.footer-rrss-section ul li:hover{
    transform: scale(1.2);
    transition: 100ms;
}

.footer-center-middle {
    height: 100%;
    width: 50%;
}

.footer-center-middle-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.footer-center-middle-l {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}

.footer-center-middle-l-top{
    width: 100%;
    display: flex;
    justify-content:flex-start;
}

.footer-center-middle-l-bot{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-center-middle-l-bot ul li{
    padding: 10px 0px;
}

.footer-center-middle-r {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}

.footer-center-middle-r-top{
    width: 100%;
    display: flex;
    justify-content:flex-start;
}

.footer-center-middle-r-bot{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-center-middle-r-bot ul li{
    padding: 10px 0px;
}

.footer-center-right {
    height: 100%;
    width: 25%;
    display: flex;
}

.footer-center-right-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-center-right-top{
    width: 100%;
    display: flex;
    justify-content:flex-start;
}

.footer-center-right-bot{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-center-right-bot ul li{
    padding: 10px 0px;
}

.footer-center-right-bot {
    
}

.footer-bottom {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.footer-bottom h4 {
    margin-top: 20px;
}